<table class="table table-bordered">
    <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{ user.password }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{ DepT(user.department) }}</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>{{ ComP(user.company) }}</td>
    </tr>
</table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>