<form id="form-company" action="{{ site_url('master/company/save') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-lg-6">
            <label class="control-label col-md-4">Short Code</label>
            <div class="col-md-7">
                <input class="form-control" name="short_code" type="text" value="{{ company.short_code }}" >
                <input type="hidden" name="id_cmp" class="form-control" value="{{ company.id_cmp }}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-6">
            <label class="control-label col-md-4">Company Name</label>
            <div class="col-md-7">
                <input class="form-control" name="name" type="text" value="{{ company.name }}" >
            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="ajaxSubmit('form-company', '{{ site_url('master/api/company') }}')" >Simpan</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>